.container {
  display: flex;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wrapperFrom {
  background-color: rgb(211, 211, 211);
  padding: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadProgress {
  width: 400px;
  height: 3px;
  border-radius: 2px;
  margin-bottom: 10px;
}
progress::-webkit-progress-bar {
  background-color: #ffffff;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: rgba(0, 230, 64, 1);
  border-radius: 2px;
}
.list {
  width: 250;
  background-color: rgb(211, 211, 211);
  padding-left: 0;
}

.entryField {
  width: 235px;
}

.wrapperList {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.listItem {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}

.listItem:hover {
  background-color: #888888;
}

.titleList {
  margin: auto;
  font-weight: bold;
  margin-top: 10px;
}
